.cards {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    margin: 0 8px;

    @media (min-width:300px) and (max-width: 600px){
        width: 350px;
        height: 400px;
        margin: 0 12px;
      }

    padding: 8px;

    display: flex;
    flex-direction: column;

    .avatar {
        height: 50%;
        background-color: lightblue;
    }
}