.avatar {

    height: 80%;
    display: flex;
    flex: 0.40;

    background-color: #fff;
}

.name-desc {
    display: flex;
    flex: 0.60;
    flex-direction: column;

    padding: 0 32px;

    .description {
        text-align: justify;
    }
}