.main-container {
    height: 60%;

    @media (max-width: 600px) {
        height: 100%;
    }

    background-color: #F9D342;
    color: #292826;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.carousel-container {
    width: 100%;
    height: 90%;
    position: absolute;
}

ul {
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    list-style: none;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 32px;
    

    display: flex;
    align-items: center;


    .avatar {
        margin: 0 16px;
        width: 40%;
        height: 80%;
    }
}

button {
    position: absolute;
    z-index: 1;
    top: 50%;

    border: none;
    outline: none;
    border-radius: 50%;
    background-color: rgba(128, 128, 128,0.2);

    height: 50px;
    width: 50px;

    font-weight: bolder;
    font-size: 1.5em;

    cursor: pointer;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

display-card {
    display: flex;
    height: 100%;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
    }
}

.indicator-container {
    
    display: flex;
    
    position: absolute;
    z-index: 1;

    bottom: 0;

    .indicator {
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 4px;

        cursor: pointer;
    }
}