.app-wrapper {

    height: 100%;
    overflow: hidden; 
    display: flex;

    .carousel-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      margin: 0 auto;
    }

    .carousel {
      
      position: relative;
      display: flex;
      flex: 1;
      margin: 0 auto;
      overflow: hidden;

    }
}

.card-container {

  transition: left 2s;

  margin: 0 auto;
  position: absolute;

  .display-card {
    display: flex;
  }

  
  display: flex;
}

.btn {
  position: absolute;
  z-index: 1;
  top: 150px;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(128, 128, 128,0.2);
  font-weight: bolder;
}

button:hover {
  background-color: rgba(128, 128, 128,0.7);
}